.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  &:hover {
    cursor: pointer;
  }
}

.hover {
  &:hover {
    transform: scale(1.02);
    transition: 0.2;
    color: #ffffff;
  }
}