.site-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #b1acac;
  background-color: #191a1b;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem 0 3rem;
    
    .header-navbar {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width: $phone) {
    .header-wrapper {
      margin: 0 2rem 0 2rem;
    }
  }

  @media (max-width: $phone-sm) {
    .header-wrapper {
      margin: 0 1.2rem 0 1.2rem;
    }
  }

  @media (max-width: $phone-sm) {
    .header-wrapper {
      margin: 0 0.8rem 0 0.8rem;
    }
  }
}
