.skills-page-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  .skills-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;

    .work-experience-container {
      .experience-content {
        display: flex;
        flex-direction: column;
        align-items: start;
      }
    }
    
    .language-container {
    
    }
  }
}

