.skills-container {
  height: 95vh;
  padding-top: 5rem;

  .languages-list-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    .languages-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 1rem 0 1rem;
      text-align: left;
  
      .bar {
        display: flex;
        flex-direction: row;
        border: solid 1px red;
      }
  
      .filled-bar {
        background-color: red;
        height: 15px;
        width: 300px;
      }
  
      .unfilled-bar {
        height: 15px;
        width: 100px;
      }
    }
  }
}

.hidden {
  opacity: 0;
}

@keyframes fade-in {
  from {opacity: 0; transform: scale(.7,.7)}
  to {opacity: 1;}
}

.fade-in-element {
animation: fade-in 1.4s;
}
