body {
  margin: 0;
  font-family: "Segoe UI";

  h1 {
      margin: 0.5rem;
      font-size: 40px;
      font-weight: bolder;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  p {
    margin: 0;
    font-style: italic;
  }
}

html {
  background-color: #191a1b;
}

#root {
  height: 100%;
  color: #b1acac
}