body {
  margin: 0;
  font-family: "Segoe UI";

  h1 {
      margin: 1rem 0 1rem 0;
      font-size: 40px;
      font-weight: bold;
  }

  h2 {
    font-size: 50px;
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
}

html {
  scroll-behavior: smooth;
  background-color: #191a1b;
}

#root {
  height: 100%;
  color: #e6e6e6
}